h1{
    color: rgb(244, 8, 126);
    text-align: center;
}
body{
    background-color: pink;
}
button{
    color:aqua;
    background-color: blueviolet;
}
h1{
    color:bisque
}
div{
    background-color: blue;
}